@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 225px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #eee;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
    padding-top: 8px; /* SÁT TRÊN */
    overflow-y: auto;
}

.sidebarHeader {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2c3e50;
    margin: 0 20px 24px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.sidebar nav {
    flex-grow: 1;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 1.5rem;
    padding: 12px 24px;
    transition: all 0.2s ease;
    border-left: 4px solid transparent;
    gap: 1.2rem;
}

.sidebar a:hover {
    background-color: #f0f2f5;
    color: #5B25B4;
    border-left: 4px solid #5B25B4;
}

.sidebar a.active {
    background-color: #f4edff;
    color: #5B25B4;
    border-left: 4px solid #5B25B4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    overflow: hidden;
}

ul li a {
    width: 100%;
}

ul li a:hover i.iconDashboard,
ul li a.active i.iconDashboard {
    background-image: url(../icon/dashboardActive.svg);
}
ul li a:hover i.iconSettings,
ul li a.active i.iconSettings {
    background-image: url(../icon/settingsActive.svg);
}
ul li a:hover i.iconProfile,
ul li a.active i.iconProfile {
    background-image: url(../icon/profileActive.svg);
}
ul li a:hover i.iconSaved,
ul li a.active i.iconSaved {
    background-image: url(../icon/savedActive.svg);
}
ul li a:hover i.iconSavings,
ul li a.active i.iconSavings {
    background-image: url(../icon/savingsActive.svg);
}

.sidebar .icon {
    width: 1.8rem;
    height: 1.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.logoutButton {
    padding: 0 24px;
    margin-bottom: 2rem;
}

.logoutButton a {
    display: block;
    color: #D36363;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.logoutButton a:hover {
    background-color: #fdecea;
}
